# Q1 Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Output: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]
Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]

In [19]:
nums=[3,3]; target=6

In [20]:
result=0
for i in range(len(nums)):
    result=result+nums[i]
    if(result==target):
        index=i
        break
    else:
        result=nums[i]
    result=nums[i]

In [21]:
print(index-1,index)

0 1

 # Q2 Palindrome Check
 
Example - dad, malayalam

In [27]:
s="dad"
if(s==s[::-1]):
    print("palindrome")

palindrome

# Q3 Given a signed 32-bit integer x, return x with its digits reversed. 


Input: x = 123
Output: 321

In [54]:
x=123
asStr=str(x)
l=len(asStr)
reversedstr=""
for index in range(l-1,-1,-1):
    reversedstr=reversedstr+asStr[index]
print(reversedstr)  
reversedstr=int(reversedstr)

321

# Q4 Remove nth element from the end of the list
 - list [2,3,4,5] elementno=2

In [62]:
list1=[2,3,4,5]
#del list1[2]
#list1.pop(2)
list1

[2, 3]

# Remove element by value from list
- list [2,3,4,5] element=2

In [67]:
list1=[2,3,4,5]
#list1.index(2)
list1.remove(2)
list1

[3, 4, 5]

# Q5  Swap elements in pairs
given [1,2,3,4] result =[2,1,4,3]

In [92]:
given=[1,2,3,4]
result=[]
l=len(given)
for i in range(l):
    if(i%2!=0):
        #print("inside lop",i)
        swap=given[i]
        #print(swap)
        given[i]=given[i-1]
        #print(given[i])
        given[i-1]=swap
        #print(given[i-1])
print(given)

[2, 1, 4, 3]

# Q6 Sort list

In [99]:
given=[37,2,499,900]
given.sort(reverse=True)
given

[900, 499, 37, 2]

In [102]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

# Q7 Find substrings

In [109]:
word="Peter The Cat"
subs="Cat"
word.find("Cat")
#if("Cat" in word):
#    print(word.index("Cat"))

10

# Q8 Given a sorted list of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order

- Input: nums = [1,3,5,6], target = 5
- Output: 2

- Input: nums = [1,3,5,6], target = 2
- Output: 1

In [134]:
nums=[1,3,5,6]
target=1
found="NULL"
for i in nums:
    
    if(i==target):
        found=nums.index(i)
        break
            
if(found=="NULL"):
    nums=nums+[target]
    nums.sort()

print(nums.index(target))

0

#  leap year check
-A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

2017 is not a leap year
1900 is a not leap year
2012 is a leap year
2000 is a leap year
2020 is a leap year

# Identify palindrome number

In [74]:
a=121